.header {
	background: $navy;
	width: 100%;
	margin: 0 auto;
	padding: 1.5rem 3rem;
}

.header__nav {
	display: flex;
}

.header__title {
	color: $yellow;
	text-decoration: none;
	h1 {
		margin: 0;
	}
}

.header__site-nav {
	margin-left: auto;
	padding-top: .5em;
}

.header__link {
	display: inline-block;
	color: $yellow;
	margin-left: 1.5em;
	text-decoration: none;
}
